@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
	background-color: #000000;
	color: #e0e0e0
	font-family: 'Share Tech Mono', monospace;
	margin: 0;
	padding: 0;
}
header {
	text-align: center;
	padding: 40px 20px;
	background: #050505;
	box-shadow: 0 0 40px #00ffdd3a;
}
h1 {
	font-size: 3rem;
	color: #00ffff;
	text-shadow: 0 0 15px #00ffff;
	animation: fadeInSlide 1.2s ease forwards;
	opacity: 0;
}
nav {
	margin-top: 20px;
}
nav a {
	margin: 0 15px;
	color: #58a6ff;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.1rem;
        transition: color 0.3s ease;
}
nav a:hover {
	color: #00ffff;
}
section {
	padding: 50px 20px;
	max-width: 900px;
	margin: 30px auto;
	background: rgba(255, 255, 255, 0.02);
	border-radius: 8px;
	box-shadow: 0 0 30px #0ff1ff1a;
	animation: fadeInSlide 1.2s ease forwards;
	opacity: 0;
}
h2 {
	color: #00ffff
	margin-bottom: 20px;
}
p, li {
	line-height: 1.6;
	font-size: 1.1rem;
}
ul li {
	margin-bottom: 15px;
}
ul li p {
	color: #8b949e;
	font-size: 0.95rem;
	margin-top: 5px;
}
.resume-text {
	white-space: pre-wrap;
	font-size: 1rem;
	background: #111111;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 0 20px #0ff1ff33;
	color: #c9d1d9;
	font-family: 'Share Tech Mono', monospace;
}
a {
	color: #79c0ff;
	text-decoration: none;
}
a:hover {
	color: #00ffff;
}

